<div class="h-[100vh] flex justify-center items-center">
  <div class="rounded-lg border-2 shadow-md p-4">
    <form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="" class="font-bold">Username</label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput formControlName="username" />
          <mat-error *ngIf="signupForm.get('username').invalid && signupForm.get('username').touched">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <label for="" class="font-bold">Email</label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput formControlName="email" />
          <mat-error *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <label for="" class="font-bold">Password</label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput formControlName="password" type="password" />
          <mat-error *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="w-full font-bold ">Sign Up</button>
      <div class="mt-4">If you already have acount <a routerLink="/login" class="text-blue-400">Login</a></div>
    </form>
  </div>
</div>