<div class="relative">
  <header class="" ngIf="">
    <div class="container py-3 flex items-center justify-between">
      <div class="logo h-20 w-20">
        <a routerLink="/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5332/5332306.png"
            alt=""
          />
        </a>
      </div>
      <div>
        @if (isSidebarCollapsed !== '/sign-up' && isSidebarCollapsed !==
        '/login') {
        <app-profile></app-profile>
        }
      </div>
    </div>
  </header>

  <div class="md:hidden block mobile-sidebar">
    @if (isSidebarCollapsed !== '/sign-up' && isSidebarCollapsed !== '/login') {
    <app-sidebar></app-sidebar>
    }
  </div>
  <div class="w-full container">
    <router-outlet />
  </div>
  <footer class=" ">
    <div class="container py-3">
      <div class="logo h-20 w-20">
        <a routerLink="/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5332/5332306.png"
            alt=""
          />
        </a>
      </div>
    </div>
    <div
      class="border-[#5e5e5edd] border-t border-b-0 border-l-0 border-r-0 border-[.5px] p-3 text-center text-[#afacacdd]"
    >
    Copyright © 2024
    </div>
  </footer>
</div>
