<div class="h-[100vh] flex justify-center items-center">
  <div class="rounded-lg border-2 shadow-md p-4">
    <form class="example-form">
      <div>
        <label for="" class="font-bold">Email or Username</label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput placeholder="Enter your Email or Username..." />
        </mat-form-field>
      </div>
      <div>
        <label for="" class="font-bold">Password</label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput placeholder="Enter your Password..." />
        </mat-form-field>
      </div>
      <button mat-raised-button class="w-full font-bold ">Login</button>

      <div class="mt-4">If you don't have acount <a routerLink="/sign-up" class="text-blue-400">Create a account</a></div>
    </form>
  </div>
</div>
