<div class="filter">
  <div class="search-input flex justify-center items-center py-5">
    <mat-form-field class="example-form-field w-full" appearance="outline">
      <input matInput type="text" [(ngModel)]="value" (input)="searchRecipe()" placeholder="Search your favorite recipe here..."/>
      @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>

  <div class=" my-6">
    <app-food-card class="flex flex-wrap lg:grid lg:grid-rows-1 lg:grid-flow-col gap-5"></app-food-card>
  </div>
</div>
