@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "/src/assets/common.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');

html, body,:root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filter .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 16px;
}

.mat-mdc-form-field-subscript-wrapper {
  // display: none;
} 

.example-form .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-error-wrapper {
  padding: 0 0 !important;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 !important; 
}